@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Home */

.home-img {
  background-image: url(Image-Home-Car-2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.bg-main {
  background: radial-gradient(circle, rgba(255, 180, 0, 1) 50%, rgba(255, 159, 0, 1) 100%);
}

.text-shadow-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.green-button {
  padding: 1rem 2rem;
  background-color: #97bf0f;
  color: white;
  border-radius: 2000px;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
  transition: all 0.2s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
}

.green-button:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .home-img {
    background-position: center;
  }
}

/* Vehicle Details */

.detailsBack {
  color: white;
  position: absolute;
  font-size: 1.65rem;
  width: 4rem;
  height: 3.5rem;
  background-color: #98be18;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.8rem;
  border-radius: 0 2rem 2rem 0;
  transition: all 0.2s;
}

.detailsBack:hover {
  background-color: #7daa14;
  transform: scale(1.05);
}

.h-1px {
  height: 1.75px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.514);
}

.price-list {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 1.5rem;
}

.price-list:nth-child(even) {
  background-color: #cdcdcdda;
}

.navbar-space {
  display: none;
}

@media (min-width: 768px) {
  .navbar-space {
    display: flex;
    min-width: 240px;
    height: 100vh;
  }
}

@media (min-width: 1132px) {
  .details-container {
    display: flex;
  }

  .detailsBack {
    bottom: 8rem;
  }

  .details-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 66.666%;
  }

  .price-list-container {
    max-width: 500px;
    margin: 1.5rem auto;
  }

  .details-right-container {
    width: 33.3333%;
    height: 80%;
  }
}

/* Log In and Sign Up */

.form-bg {
  background-color: rgba(0, 0, 0, 0.285);
  backdrop-filter: blur(0.5px);
  box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.5);
}

.bg-image-form {
  background-image: url(Image-Log-Sign.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 60%;
}

form > input {
  background-color: rgba(255, 0, 0, 0) !important;
  color: white;
  transition: all 0.2s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
}

form > input:focus {
  transform: scale(1.05);
}

.bg-registration {
  background: radial-gradient(circle, rgba(128, 128, 128, 1) 55%, rgba(68, 74, 84, 1) 100%);
}

.bg-signup {
  background: radial-gradient(circle, rgb(143, 143, 143) 30%, rgb(76, 84, 97) 100%);
}

.transition-scale {
  transition: all 0.2s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
}

.transition-scale:hover {
  transform: scale(1.05);
}

@media (min-width: 648px) {
  .form-bg {
    padding: 3rem 7rem;
  }
}

@media (min-width: 740px) {
  .bg-image-form {
    background-position: center;
    background-size: contain;
  }

  .form-bg {
    padding: 5rem 9rem;
  }
}

/* nav */

.navigation > a:hover {
  background-color: #97bf0f;
  color: white;
  padding-left: 15px;
  transition: all 100ms linear;
}

.nav-container {
  transition: all 300ms ease-in-out;
}

.nav-container.display {
  left: 0;
}

.nav-icon {
  z-index: 1000;
  transition: all 300ms;
  color: white;
}

.nav-icon.display {
  transform: rotate(180deg);
  color: #97bf0f;
}

@media (max-width: 768px) {
  .nav-icon {
    display: block;
    color: #97bf0f;
  }

  .white {
    color: white;
  }
}

.licence {
  font-size: 13px;
}

.media-list > svg {
  transition: color 100ms linear;
  cursor: pointer;
  font-size: larger;
}

.media-list > svg:hover {
  color: #97bf0f;
}
