<div id="root"></div>
<script>
window.current_user = <%= Current.user&.id || -1 %>
window.isAdmin = <%= Current.user&.isAdmin || false %>
</script>
<script src=".../assets/builds/application.js" type="application/json"></script>